<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/comp-header}">
<head>
    <meta charset="UTF-8">
    <title>Fruit shop</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link th:href = "@{/css/login/login.css}" rel = "stylesheet">
</head>
<body>
<article layout:fragment ="content">
    <div class="login-background">
        <div class="login-container">
            <div class="login-register__header"> <h2>Lấy lại mật khẩu</h2></div>
            <form action="" method="post">
            <div class ="login__input-box">
                <i class='bx bx-user'></i>
                <input type ="text" placeholder="Nhập email hoặc số điện thoại"> </div>
            <div class="login__action">
                <button type="submit">Gửi yêu cầu</button></div>
            <div class="login-register__message">
                <label>Vui lòng nhập thông tin để nhận mã xác minh!</label>
            </div>
            </form>
        </div>
    </div>
</article>
</body>
</html>


<!--                <i class='bx bx-lock'></i>
                <input type ="password" placeholder="Nhập mã xác minh"> </div>-->

<!--            <div class="login__recaptcha">
                <button class="g-recaptcha"
                        data-sitekey="reCAPTCHA_site_key"
                        data-callback='onSubmit'
                        data-action='submit'>Submit</button>
            </div>-->