<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.com" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/comp-header}">
<head>
  <meta charset="UTF-8">
  <title>Trái cây bổ dưỡng</title>
  <link th:href = "@{/css/danhmuc/nutrient.css}" rel = "stylesheet">
</head>
<body>
<article layout:fragment ="content">
  <div class="container">
    <div class="list">
      <div class="tieu-de">Các loại trái cây theo chất dinh dưỡng</div>
    </div>
    <div class="main">

      <div class="listProduct">
        <ul class="products">
          <th:block th:each="nutrient : ${nutrients}">
            <div class="nutrient-section">
              <h3 th:text="${nutrient.name}">Nutrient Name</h3>
              <div class="sap-xep">
                <div>
                  <form th:action="@{/nutrient}" method="get">
                    <div class="sort">
                      <input type="hidden" name="nutrientId" th:value="${nutrient.id}" />
                      <label for="price-sort">Sắp xếp theo giá: </label>
                      <select id="price-sort" name="sort" onchange="this.form.submit()">
                        <option value="">Chọn phương thức sắp xếp</option>
                        <option value="price-up" th:selected="${sort == 'price-up'}">Từ thấp đến cao</option>
                        <option value="price-down" th:selected="${sort == 'price-down'}">Từ cao đến thấp</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
              <div class="product-list-background">
                <div class="product-list">
                  <th:block th:each="productNutrient : ${nutrient.products}">
                    <div class="product-item">
                      <a th:href="@{/detail(id=${productNutrient.product.id})}">
                        <img th:src="'https://firebasestorage.googleapis.com/v0/b/retailstorage-5432c.appspot.com/o/'+${productNutrient.product.id.replace(' ', '')}+'.png?alt=media'" alt="Product Image"/>
                      </a>
                      <br/>
                      <a th:href="@{/detail(id=${productNutrient.product.id})}" th:text="${productNutrient.product.name}" class="product-name">Product Name</a>
                      <br/>
                      <span th:text="${#numbers.formatInteger(productNutrient.product.price, 0) + ' VND'}" class="product-price">200.000 VND</span>
                    </div>
                  </th:block>
                </div>
              </div>

            </div>
          </th:block>
        </ul>
      </div>
    </div>
  </div>
</article>
</body>
</html>